.register {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(orangered, orange);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.registerLeft, .registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {
    font-size: 150px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.registerDesc {
    font-size: 30px;
}

.registerBox {
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.registerInput:focus {
    outline: none;
}

.registerButton, .loginRegisterButton {
    height: 50px;
    border-radius: 10px;
    border: 1px solid yellow;
    background-image: linear-gradient(orange, orangered);
    color: yellow;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot {
    text-align: center;
    color: yellow;
}