.topbarContainer {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(orangered, orange);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 2.5;
}

.logo {
    font-size: 30px;
    text-shadow: 2px 1.5px black;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter {
    flex: 3;
}

.searchbar {
    width: 50%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 95%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
    font-size: 24px;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: orange;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -8px;
    right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}