.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    border: 3px solid white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 100px;
}

.profileInfoName {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    z-index: 999;
    text-shadow: 1.5px 1.5px white;
}

.profileInfoDesc {
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}

.profileRightBottom {
    display: flex;
}

.rightbarTitle {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo {
    margin-bottom: 30px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: 700;
    margin-right: 25px;
    color: #555;
}

.rightbarInfoValue {
    font-weight: 300
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
