.sidebar {
    flex: 2.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: orangered;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
}

.sidebarWrapper {
    padding: 20px;
    height: inherit;
    background-color: orange;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.siderbarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}
