.rightbar {
    flex: 3;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 75px;
    height: 75px;
}

.birthdayText {
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}
